body {
    background: url(clock1.png) no-repeat center center fixed;
    background-size: 40%;
}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.gradient-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #00ff00 0%, #0066ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b490c;
    display: table;
    margin: 20px auto;
}
